html {
    background-color: #222222;
    font-family: "Verdana";
}

div {
    height: 100px;
    width: 100px;
    box-shadow: 0px 0px 0px 2px #888888 inset;
    color: #ddd;
}

ul {
    list-style-type: none;
    padding-left: 20px;
    padding-top: 2px;
    font-size: 14px;
}

.minusPlus {
    height: 15px;
    width: 18px;
    line-height: 10px;
    font-weight: 600;
}
.locationLI {
    margin: 10px;
}

.rotationLI {
    display: inline;
    padding: 1px;
}

.section {
    float: left;
    height: 600px;
}

.sidebarSection {
    width: 100%;
}

.textTitle {
    color: #ddd;
    text-align: center;
    font-size: 20px;
}

.shapeToggle {
    height: 20px;
    width: 75px;
    margin-top: 20px;
    margin-left: 35%;
}

.controlsDiv {
    width: 100%;
    height: 33.3%;
}

.controlsLabel {
    font-size: 14px;
    position: relative;
    top: 5px;
    padding: 10px;
}

.locationXYZ {
    float: left;
    margin-left: 10px;
}
.coordinateDiv {
    width: 15px;
    height: 15px;
    background-color: #EEE;
    float: left;
    margin-left: 2px;
}

.objectListItem {
    height: 20px;
    width: 100%;
}

#pageWrapper {
    height: 600px;
    width: 1000px;
    margin: auto;
    margin-top: 30px;
}

#leftSection {
    width: 200px;
    background-color: #444444;
}

#midSection {
    width: 600px;
}

#rightSection {
    width: 200px;
    background-color: #444444;
}

#shapeTitle, #objectsTitle {
    height: 6%;
}

#shapeButtons {
    height: 94%
}

#objectsList, #controlsList {
    height: 47%;
}

#objectsList {
    box-shadow: 0px 0px 0px 0px #888888 inset;
    overflow: scroll;
}

#shapeSpan, #objSpan {
    position: relative;
    top: 15%;
}

#rotationUL {
    padding-top: 5px;
    padding-left: 10px;
}

/*jQuery UI*/
#feedback {
    font-size: 1em;
}
#selectable .ui-selecting {
    background: #FECA40;
    width: 96%;
}

#selectable .ui-selected {
    background: #F39814;
    color: white;
    width: 96%;
}
#selectable {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 95%;
}
#selectable li {
    margin-left: 5px;
    padding: 5px;
    font-size: 1em;
    height: 15px;
}

::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 10px;
}
::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(150,150,150,.5);
    -webkit-box-shadow: 0 0 1px rgba(150,150,150,.4);
}
